/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: lightslategray;
  color: white;
  position: relative;
  z-index: 1;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  gap: 20px;
}
.logo-link{
  text-decoration: none;
  color: white;
}
/* Links Styling */
.navbar-links a {
  color: white;
  text-decoration: none;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

/* On small devices (max-width: 768px) */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the top */
    gap: 30px;
    padding: 50px 20px 20px 20px; /* Top padding to move links up */
    text-align: center;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  /* Close button visible only on small screens */
  .close-btn {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  /* Hide close button on large screens */
  .close-btn {
    display: block;
  }
}

/* On large screens, hide the close button */
@media (min-width: 769px) {
  .close-btn {
    display: none;
  }
}
